.todo-heading {
  margin: 2em;
}
.input-block {
  margin: 1em;
}

.input-el {
  padding: 0.5em 1em;
  width: 22%;
  font-size: 1.2em;
}

.submit-btn {
  padding: 0.5em 1em;
  border: none;
  background-color: #2f2fa2;
  color: white;
  font-size: 1.5em;
  margin-top: 16px;
  border-radius: 4px;
  margin-left: 430px;
}

.submit-btn:hover {
  background-color: #242582;
  transform: scale(1.04);
}

.show-users-wrapper {
  padding-top: 0.2em;
}

.search-users {
  margin-top: 32px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  border-radius: 5px;
  width: 28%;
}
.user-table-wrapper {
  width: 38%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 80px auto;
  border-radius: 15px;
}

.table-head-wrapper {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  /* padding: 1em 1em 0 1em; */
}
.table-head {
  margin: 0;
  padding: 1em 1.2em;
  width: 100%;
  background-color: #2f2fa2;
  color: white;
  font-size: 1.5em;
}
